footer {
  width: 100%;
  height: 5rem;
  background-color: #ff907769;
  color: #2d2d2d;
  display: none;
}

.footer_nav {
  padding-top: 30px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer_nav li a {
  cursor: pointer;
  color: #2d2d2d;
  text-decoration: none;
}
