* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: #f3e6e1;
  --highlight: #e59898;
  --black: #2d2d2d;
  --lightgrey: lightgrey;
  --standard-margin: 10px;
  --standard-padding: 5px;
  font: normal 16px Gelasio;
}

html {
  letter-spacing: 2px;
  color: var(--black);
  text-align: center;
}

img {
  width: 100%;
}

button {
  border: none;
  padding: var(--standard-padding);
  font-family: inherit;
  font-size: 0.9rem;
  background-color: var(--highlight);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.headline {
  margin: 50px auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline h1 {
  background-color: white;
  z-index: 1;
  padding: var(--standard-padding) var(--standard-margin);
}

.headline::before,
.headline::after {
  content: "";
  height: 3.5em;
  width: 1.5em;
  border: 2px solid var(--black);
}

.headline::before {
  margin-right: -1em;
  border-right: none;
}

.headline::after {
  margin-left: -1em;
  border-left: none;
}
